@charset "utf-8";

.UserRegistration {
  @at-root {
    & {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(white, 0.8);
      z-index: 20000;
    }

    .UserRegistration__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .UserRegistration__formInner {
      display: flex;
      align-items: center;
    }

    .UserRegistration__submit {
      margin-left: 1rem;
    }
  }
}
