<div class="ChatInput">
  <div class="ChatInput__inner">
    <form class="ChatInput__form" #chat="ngForm" (ngSubmit)="onSubmit(chat)" novalidate>
      <div class='ChatInput__formInner'>
        <div class='ChatInput__text'>
          <mat-form-field>
            <textarea matInput placeholder="Type a comment" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" name="comment"
              ngModel></textarea>
          </mat-form-field>
        </div>

        <div class='ChatInput__submit'>
          <button type="submit" mat-raised-button color="primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>