<div class="ChatInput">
  <div class="ChatInput__inner">
    <!-- 
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="myChat" type="text" name="comment" ngModel>
        <label class="mdl-textfield__label" for="myChat">Text...</label>
      </div>
    </form> -->
    <form #chat="ngForm" (ngSubmit)="onSubmit(chat)" novalidate>
      <mat-form-field>
        <textarea matInput placeholder="Type a comment" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" name="comment"
          ngModel></textarea>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Primary</button>
    </form>
  </div>
</div>