<div class="ChatInput">
  <div class="ChatInput__inner">
    <!-- 
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="myChat" type="text" name="comment" ngModel>
        <label class="mdl-textfield__label" for="myChat">Text...</label>
      </div>
    </form> -->
    <form class="ChatInput__form" #chat="ngForm" (ngSubmit)="onSubmit(chat)" novalidate>
      <div class='ChatInput__formInner'>
        <div class='ChatInput__text'>
          <mat-form-field>
            <textarea matInput placeholder="Type a comment" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" name="comment"
              ngModel></textarea>
          </mat-form-field>
        </div>

        <div class='ChatInput__submit'>
          <button type="submit" mat-raised-button color="primary">Primary</button>
        </div>
      </div>
    </form>
  </div>
</div>