@charset "utf-8";

.ChatInput {
  @at-root {
    & {
      position: fixed;
      bottom: 20px;
      left: 0;
      width: 100%;
      background-color: lighten(black, 90%);
    }

    .ChatInput__inner {
      padding: 1rem;
    }

    .ChatInput__form {
      width: 100%;
    }

    .ChatInput__formInner {
      display: flex;
      align-items: center;
    }

    .ChatInput__text {
      flex: 1 0 auto;

      .mat-form-field {
        width: 100%;
        padding-right: 1rem;
      }
    }

    .ChatInput__submit {
      flex: 0 0 auto;
    }
  }
}
